.intro {
  background: rgba(0, 0, 0, .4);
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, .1));
  position: relative;
  z-index: 9;
  padding-bottom: 20px;

  .content {
    width: 400px;
    margin: auto;
    color: white;
    position: relative;
    z-index: 99;
    padding: 100px 0 0;

    @media @mobile {
      width: 100%;
      padding: 200px 8px 0;
    }
  }

  .instructions, .byline {
    margin-top: 50px;
    text-align: center;
    color: #BBB;
  }

  h1, h2, h3 {
    font-family: @hed;
    text-align: center;
    font-style: normal;
    margin: 0;
    text-transform: uppercase;
    color: @light-gray;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  .logo {
    position: absolute;
    z-index: 999;
    top: 100px;
    width: 30%;
    .transform(translateX(0) translateY(0));
    .transform(perspective(700px) translateX(0) translateY(0) rotateY(0) scale(1));
    transition: transform 1s ease-out;

    @x: 200%;
    @y: -20%;
    @scale: 3;
    @rotate: 30deg;

    &.left-side {
      left: 20px;

      // .startup & {
      //   .transform(translateX(@x) translateY(@y) scale(@scale));
      //   .transform(perspective(700px) translateX(@x) translateY(@y) rotateY(@rotate) scale(@scale));
      // }
    }

    &.right-side {
      right: 40px;

      // .startup & {
      //   .transform(translateX(-@x) translateY(@y) scale(@scale));
      //   .transform(perspective(700px) translateX(-@x) translateY(@y) rotateY(-@rotate) scale(@scale));
      // }
    }
  }
}

.matchup {

  h1 {
    font-family: @hed;
    font-size: 64px;
    color: @light-gray;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 16px rgba(0, 0, 0, .7);

    @media @tablet {
      font-size: 48px;
    }

    @media @mobile {
      font-size: 36px;
    }
  }

  .photo-credit {
    font-family: @body;
    font-size: 12px;
    text-align: right;
  }
}

.share, .share-bottom {
  margin: 0 auto 10px auto;
  float: right;

  &.sharer-0 {

    label.entypo-export {
      border-radius: 0;
      background: #444;
      color: @seaGray;

      &:hover {
        color: @seaGreen;
      }
    }
  }
}

.top-bar, footer {
  background: #222;
  padding: 8px;
  position: relative;
  z-index: 99;
  line-height: 20px;
  color: @light-gray;
  font-size: 14px;

  .logo {
    margin-right: 8px;

    img {
      margin-top: 5px;
      height: 20px;
      vertical-align: bottom;
    }
  }

  .credit {
    margin-right: 8px;
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}