.matchup {
  text-align: center;

  @media @tablet {
    height: auto;
    padding-top: 20px;
  }

  .overlay-column {
    text-align: left;
    z-index: 999;
    position: relative;
    margin: auto;
    width: 40%;
    padding: 200px 50px 0;
    height: 100%;
    // background: linear-gradient(to right, transparent 0, black 25%, black 75%, transparent 100%);

    @media @mobile {
      background: transparent;
      width: 100%;
      clear: both;
      padding: 0;
    }

    @media @tablet {
      width: 80%;
      margin: auto;
      padding: 0;
    }
  }

  .profile {
    position: fixed;
    top: 0;
    opacity: 0;
    transition: opacity .3s linear, transform .2s ease-out;
    max-width: 50%;
    height: 100%;

    @media @tablet {
      position: relative;
      display: inline-block;
      width: 30%;
      height: auto;
      opacity: 1;
    }

    @media @mobile {
      width: 50%;
    }

    @distance: 20%;
    @rotation: 10deg;
    @perspective: 500px;

    &.left-side {
      left: 0;
      transform-origin: left;
      .transform(translateX(-@distance));
      .transform(perspective(@perspective) translateX(-@distance) rotateY(@rotation));
      @media @tablet { .transform(none) }
    }

    &.right-side {
      right: 0;
      transform-origin: right;
      .transform(translateX(@distance));
      .transform(perspective(@perspective) translateX(@distance) rotateY(-@rotation));
      @media @tablet { .transform(none) }
    }

  }

  &.active {
    .profile {
      opacity: 1;
      .transform(translateX(0));
    }
  }

}