.overlay {
  background: @light-gray;
  padding: 10px;
}

.stats {
  text-align: center;

  h2 {
    text-align: left;
    font-family: @hed;
    font-size: 20px;
  }

  em {
    color: darken(@seaGreen, 30%);
    font-weight: bold;
    font-style: normal;
  }

  .prose {
    text-align: left;
  }

  .row {
    display: block;
    clear: both;
    // border: 1px solid @border;

    &:last-child {
      // border-bottom: 1px solid @border;
    }

    &::after {
      content: " ";
      height: 0;
      display: block;
      clear: both;
    }
  }

  .half, section {
    float: left;
    width: 50%;
    padding: 8px;

    &:first-child {
      // border-right: 1px solid @border;
    }
  }

  .name {
    font-weight: bold;
  }

  label {
    color: darken(@seaGreen, 20%);
    padding-top: 8px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  }

}