<p>
  Bill Belichick and Pete Carroll, the coaches in Super Bowl XLIX, have accomplished plenty already in their careers. Carroll became only the third coach to win a national championship in college football and a Super Bowl when the Seahawks beat the Broncos in Super Bowl XLVIII, while Belichick won three Super Bowls in four seasons.

<p>
  But a victory would put them in rare company. Belichick is attempting to become only the second coach to win four Super Bowls (he has come up short in two previous attempts at a fourth victory) while Carroll is attempting to become the seventh coach to win consecutive Super Bowls.

<p>
  Each was also fired from their first NFL head-coaching jobs, but they have come a long way to achieve success.

  <a class="read-more" href="http://seattletimes.com/html/larrystone/2025557427_stone28xml.html">
    Read more from Larry Stone <i class="fa fa-chevron-right"></i>
  </a>

<div class="stats">
  <div class="row">
    <div class="half name"> Belichick </div>
    <div class="half name"> Carroll </div>
  </div>
  <label class="row">
    Age
  </label>
  <div class="row">
    <section class="numeral"> 62 </section>
    <section class="numeral"> 63 </section>
  </div>
  <label class="row">
    Record as NFL head coach before current job
  </label>
  <div class="row">
    <section class="prose"> <b>36-44</b>, four seasons with Cleveland Browns </section>
    <section class="prose"> <b>33-31</b>, one season with New York Jets and three seasons with the New England Patriots</section>
  </div>
  <label class="row">
    Record with current team
  </label>
  <div class="row">
    <section> <b>175-65</b>, 15 seasons </section>
    <section> <b>50-30</b>, five seasons </section>
  </div>
  <div class="graphs">
    <label class="row">Career wins, including playoffs</label>
  <%
    var wins = {
      "Don Shula": { count: 347 },
      "George Halas": { count: 324 },
      "Tom Landry": { count: 270 },
      "Bill Belichick": { count: 232, team: "patriots" },
      "Pete Carroll": { count: 91, team: "seahawks outside" }
    }
    for (var coach in wins) {
      var count = wins[coach].count;
      var team = wins[coach].team || "";
  %>
    <div class="bar <%= team %>" style="width: <%= count / 347 * 100 %>%">
      <span class="label"><%= coach %> - <%= count %></span>
    </div>
  <%
    }
  %>
  </div>
  <label class="row">
    Career playoff record
  </label>
  <div class="row">
    <section class="prose"> <b>21-9</b>. The 21 victories are the most in NFL history. Tom Landry won 20 playoff games with the Cowboys. </section>
    <section class="numeral"> 8-4 </section>
  </div>
  <label class="row">
    Career playoff record with current team
  </label>
  <div class="row">
    <section class="numeral"> 20-8 </section>
    <section class="numeral"> 7-2 </section>
  </div>
  <label class="row">
    Conference championships won
  </label>
  <div class="row">
    <section>
      <% [2001, 2003, 2004, 2007, 2011, 2014].forEach(function(year) { %>
        <div>
          <i class="fa fa-star-o"></i> <%= year %>
        </div>
      <% }) %>
    </section>
    <section>
      <% [2013, 2014].forEach(function(year) { %>
        <div>
          <i class="fa fa-star-o"></i> <%= year %>
        </div>
      <% }) %>
    </section>
  </div>
  <label class="row">
    Super Bowls won
  </label>
  <div class="row">
    <section>
      <% [2001, 2003, 2004].forEach(function(year) { %>
        <div>
          <i class="fa fa-star"></i> <%= year %>
        </div>
      <% }) %>
    </section>
    <section>
      <% [2014].forEach(function(year) { %>
        <div>
          <i class="fa fa-star"></i> <%= year %>
        </div>
      <% }) %></section>
  </div>

</div>

<p class="photo-credit">
  Photos: Jim Rogash/Getty, Elaine Thompson/Associated Press