<p>
  One is attempting to become the third quarterback to win four Super Bowls and the other is attempting to become the eighth to win back-to-back Super Bowls. One has a long list of postseason quarterbacking records and the other has gotten off to a winning start in his playoff career.

<p>
  For Tom Brady and Russell Wilson, there are plenty of stats that make for an impressive body of work. Here are a few to put the quarterbacks in perspective.

<div class="stats">
  <div class="row">
    <section class="name">Brady</section>
    <section class="name">Wilson</section>
  </div>

  <label class="row">
    Age
  </label>
  <div class="row">
    <section class="numeral"> 37 </section>
    <section class="numeral"> 26 </section>
  </div>

  <label class="row">
    Seasons in NFL
  </label>
  <div class="row">
    <section class="numeral"> 15 </section>
    <section class="numeral"> 3 </section>
  </div>

  <label class="row">
    Height
  </label>
  <div class="row">
    <section class="numeral"> 6'4" </section>
    <section class="numeral"> 5'11" </section>
  </div>

  <label class="row">
    Weight
  </label>
  <div class="row">
    <section class="numeral"> 225 </section>
    <section class="numeral"> 206 </section>
  </div>

  <label class="row">
    Career regular-season wins
  </label>
  <div class="row">
    <section class="prose"> <b>160</b>, third-most by a quarterback in NFL history. Trails only Brett Favre (186) and Peyton Manning (179). </section>
    <section class="prose"> <b>36</b>, the most by a quarterback in his first three seasons in the Super Bowl era (since 1966). </section>
  </div>

  <label class="row">
    Career playoff winning percentage
  </label>
  <div class="row">
    <section class="prose"> <b>.714</b>, the highest by a quarterback with at least 20 playoff starts. He is 20-8 overall. </section>
    <section class="prose"> <b>.857</b>, a 6-1 record built over three playoff appearances and consecutive Super Bowl berths. </section>
  </div>

  <div class="graphs">
  <%
    var yardage = {
      "Brett Favre": { count: 71838 },
      "Peyton Manning": { count: 69691 },
      "Dan Marino": { count: 61361 },
      "Drew Brees": { count: 56033 },
      "Tom Brady": { count: 53258, team: "patriots" },
      "Russell Wilson": { count: 9950, team: "seahawks outside" }
    };

    var passes = {
      "Peyton Manning": { count: 530 },
      "Brett Favre": { count: 508 },
      "Dan Marino": { count: 420 },
      "Drew Brees": { count: 396 },
      "Tom Brady": { count: 392, team: "patriots" },
      "Russell Wilson": { count: 72, team: "seahawks outside" }
    };
  %>
    <label class="row">Career regular-season passing yards</label>
  <%
    for (var player in yardage) {
      var count = yardage[player].count;
      var team = yardage[player].team || "";
  %>
    <div class="bar <%= team %>" style="width: <%= count / 71838 * 100 %>%">
      <span class="label"><%= player %> - <%= grunt.template.formatNumber(count) %> yards</span>
    </div>
  <%
    }
  %>
  </div>

  <label class="row">
    Career playoff passing yards
  </label>
  <div class="row">
    <section> <b>7,017</b>, the most in NFL history. Peyton Manning (6,800) is second. </section>
    <section> <b>1,575</b> </section>
  </div>

  <div class="graphs">
    <label class="row">Career touchdown passes</label>
  <%
    for (var player in passes) {
      var count = passes[player].count;
      var team = passes[player].team || "";
  %>
    <div class="bar <%= team %>" style="width: <%= count / 530 * 100 %>%">
      <span class="label"><%= player %> - <%= count %></span>
    </div>
  <%
    }
  %>
  </div>

  <label class="row">
    Career playoff touchdown passes
  </label>
  <div class="row">
    <section> <b>49</b>, the most in NFL history. Joe Montana (45) and Brett Favre (44) are next on the list. </section>
    <section> <b>10</b> </section>
  </div>

</div>

<p class="photo-credit">
  Photos: Maddie Meyer/Getty, Elaine Thompson/Associated Press