<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700,400|Open+Sans:600,400' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
      <a class="share"></a>
    </nav>

    <main class="startup">
      <section class="intro">
        <img class="pats logo left-side" src="assets/Patriot-helmet-c.png">
        <img class="seahawks logo right-side" src="assets/Seahawk-helmet-c.png">
        <div class="content">
          <h1>Patriots</h1>
          <h2>vs.</h2>
          <h1>Seahawks</h1>
          <h3>Super Bowl XLIX matchup</h3>

          <p>
            Super Bowl XLIX is a marquee matchup filled with intriguing players and coaches on the Seahawks and Patriots. A look at how the coaches, quarterbacks and star defensive backs compare.


          <p class="instructions">
            <i class="fa fa-chevron-down"></i>
            Scroll to continue
            <i class="fa fa-chevron-down"></i>

        </div>
      </section>
      <section class="matchup">
        <img class="belichick left-side profile" src="assets/BillBelichickProfile.jpg">
        <img class="carroll right-side profile" src="assets/PeteCarrollProfile.jpg">
        <div class="overlay-column">
          <h1>The Coaches</h1>
          <div class="overlay">
            <%= t.include("_coaches.html") %>
          </div>
        </div>
      </section>
      <section class="matchup">
        <img class="revis left-side profile" src="assets/Profile_Revis.jpg">
        <img class="sherman right-side profile" src="assets/Profile_Sherman.jpg">
        <div class="overlay-column">
          <h1>Cornerbacks</h1>
          <div class="overlay">
            <%= t.include("_defense.html") %>
          </div>
        </div>
      </section>
      <section class="matchup">
        <img class="brady left-side profile" src="assets/Profile_TomBrady.jpg">
        <img class="wilson right-side profile" src="assets/Profile_RussellWilson.jpg">
        <div class="overlay-column">
          <h1>Quarterbacks</h1>
          <div class="overlay">
            <%= t.include("_qb.html") %>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>

      <span class="credit">Reporting: <b>Ed Guzman</b></span>
      <span class="credit">Development: <b>Thomas Wilburn</b></span>
      <a class="share-bottom"></a>
    </footer>

    <script src="app.js"></script>
    <%= json.project.production ? t.include("partials/_adFoot.html") : "" %>
    <%= json.project.production ? t.include("partials/_workHere.html") : "" %>
  </body>
</html>
